body {
  padding-top: 50px;
}

img {
  width: 13.35%;
  height: auto;
  float: left;
}

.header {
  text-align: center;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.panel-body {
  height: 150px;
}