body {
  padding-top: 50px;
}

img {
  width: 13.35%;
  height: auto;
  float: left;
}

.header {
  text-align: center;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.panel-body {
  height: 150px;
}

p {
  float: right;
  text-align: right;
  font-size: 98%;
}

.contact {
  color: red;
}

.about_me {
  color: blue;
}