body {
  padding-top: 50px;
  background-color: rgb(58, 70, 67);
}

img {
  width: 13.35%;
  height: auto;
  float: left;
}

.header {
  text-align: center;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.panel-body {
  height: 125px;
  background-color: rgb(240, 240, 240);
}

p.about_link {
  float: right;
  text-align: right;
  font-size: 98%;
}

.contact {
  color: rgb(224, 139, 54);
}

.about_me {
  color: rgb(224, 139, 54);
}

.panel-title {
  color: rgb(58, 70, 67);
}